@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 150%;
}

main {
  max-width: 1056px;
  margin: auto;
  padding: 0 10px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  margin-bottom: 32px;
  width: 500px;
}

h2 {
  padding: 64px 0 16px;
}

h2.portfolio-title {
  width: 100%;
}

button {
  margin: 0 8px 8px 0;
  padding: 16px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Inter';
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

button.portfolio-button {
  padding: 4px;
  margin: 0 2px 0 0;
}

p.email {
  padding-block: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: underline;
  cursor: pointer;
}

p.email > img.clipboard {
  width: 20px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 30px;
}

@media (max-width: 1034px) {
  article {
    width: 100%;
  }
}
